@media screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}
body {
  --primary: #fe4c50;
  --white: #fff;
  --text_color: #798cc5;
  --main_text:#1e1e27;
  --sub: #595858;
  --bg: #fff;
  --bg-color: #a8b2d1;
  --border: #D9D9D9;
  --bg-comp: #fff;
  --comp-title: #fe4c50;
}

body.active-darkmode {
  --primary: #fe4c50;
  --white: #fff;
  --text_color: #798cc5;
  --main_text:#fff;
  --sub: #a8b2d1;
  --bg: #020C1B;
  --bg-color: #a8b2d1;
  --shadow: #ffffff;
  --border: #a8b2d1;
  --bg-comp: #233554;
  --comp-title: #D9D9D9;
  background-color: var(--bg);
}
body.active-darkmode .header_fixed.active {
  box-shadow: 0 0 1.6rem rgba(255, 255, 255, 0.15);
}
body.active-darkmode .skills .container .row .box_skill-item:nth-child(7) .box-img {
  filter: invert(1);
}
body.active-darkmode .skills .container .row .box_skill-item .box:hover {
  background-color: var(--bg-comp);
}

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  z-index: 99999;
  height: 9rem;
}
.header_fixed.active {
  background-color: var(--bg);
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.15);
  height: 7rem;
}
.header_fixed.active .nav-bar .menu-item a:hover::before {
  width: 100%;
  left: 0;
  right: 0;
}
.header_fixed .container .logo {
  font-size: 3rem;
  color: var(--main_text);
  font-weight: 700;
  text-transform: uppercase;
}
.header_fixed .container .logo span {
  color: var(--primary);
}
.header_fixed .container .nav-bar .menu {
  gap: 0 4rem;
}
.header_fixed .container .nav-bar .menu-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header_fixed .container .nav-bar .menu-item a {
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--main_text);
  position: relative;
}
.header_fixed .container .nav-bar .menu-item a::before {
  content: "";
  position: absolute;
  top: calc(100% - 0.5rem);
  left: 50%;
  right: 50%;
  height: 0.3rem;
  border-radius: 1rem;
  width: 0;
  background-color: #fe4c50;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.header_fixed .container .nav-bar .menu-item a:hover {
  color: var(--primary);
}
.header_fixed .container .toggle-mode {
  width: 6rem;
  height: 3.4rem;
  border-radius: 3.4rem;
  background-color: var(--bg-color);
  position: relative;
  cursor: pointer;
}
.header_fixed .container .toggle-mode .slider-round {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  width: 2.6rem;
  height: 2.6rem;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.header_fixed .container .toggle-mode .slider-round .icon {
  color: #233554;
}
.header_fixed .container .toggle-mode .slider-round .icon:last-child {
  display: none;
}
.header_fixed .container .toggle-mode.active {
  background-color: #fe4c50;
}
.header_fixed .container .toggle-mode.active .slider-round {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}
.header_fixed .container .toggle-mode.active .slider-round .icon:first-child {
  display: none;
}
.header_fixed .container .toggle-mode.active .slider-round .icon:last-child {
  display: block;
  color: #fe4c50;
}
.header_fixed .container .menu-bar {
  font-size: 3.6rem;
  position: relative;
  color: var(--main_text);
  cursor: pointer;
}
.header_fixed .container .menu-bar:hover {
  color: var(--primary);
}

.menu-mobile {
  position: fixed;
  inset: 0;
  background-color: var(--bg-comp);
  z-index: 999999;
  padding: 3rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  overflow: scroll;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  opacity: 0;
}
.menu-mobile.active {
  pointer-events: none;
  transform-origin: bottom;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}
.menu-mobile::-webkit-scrollbar {
  width: 0;
}
.menu-mobile .close-menu {
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-size: 3.6rem;
  color: var(--main_text);
  cursor: pointer;
}
.menu-mobile .close-menu:hover {
  color: var(--primary);
}
.menu-mobile .menu {
  flex-shrink: 0;
  overflow: scroll;
}
.menu-mobile .menu::-webkit-scrollbar {
  width: 0;
}
.menu-mobile .menu .menu-item {
  margin-bottom: 3rem;
}
.menu-mobile .menu .menu-item .menu-link {
  color: var(--main_text);
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.menu-mobile .menu .menu-item .menu-link:hover {
  background-color: var(--primary);
  color: #fff;
}
.menu-mobile .copy-right {
  bottom: 5rem;
  color: var(--sub);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

::selection {
  background-color: #fe4c50;
  color: #fff;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
}

.btn-out-line {
  padding: 1rem 3rem;
  border: 0.2rem solid #fe4c50;
  color: #fe4c50;
  font-size: 1.8rem;
  border-radius: 1rem;
}
.btn-out-line a,
.btn-out-line a:hover {
  transition: unset !important;
  -webkit-transition: unset !important;
  -moz-transition: unset !important;
  -o-transition: unset !important;
}
.btn-out-line .icon {
  font-size: 2rem;
  margin-left: 1rem;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.btn-out-line:hover {
  color: #fff;
  background-color: #fe4c50;
}
.btn-out-line:hover .icon {
  transform: translateX(1rem);
  -webkit-transform: translateX(1rem);
}

.section {
  padding: 15rem 0 0;
  overflow: hidden;
}
.section .container {
  overflow: hidden;
}
.section .container .row {
  margin-top: 5.6rem;
}
.section .container .heading {
  color: var(--main_text);
  font-weight: 600;
  font-size: 3rem;
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .section .container .heading {
    font-size: 2.5rem;
  }
}
.section .container .heading::after {
  content: "";
  position: absolute;
  left: calc(100% + 2rem);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: var(--sub);
  opacity: 0.5;
  height: 0.2rem;
  width: 52rem;
}
@media screen and (max-width: 768px) {
  .section .container .heading::after {
    width: 38rem;
  }
}
@media screen and (max-width: 576px) {
  .section .container .heading::after {
    top: calc(100% + 2rem);
    width: 20rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}
@media screen and (max-width: 576px) {
  .section .container .heading {
    text-align: center;
    display: block;
  }
}

.box-details .box-heading {
  font-weight: 600;
  font-size: 2rem;
  color: var(--main_text);
  padding-bottom: 2rem;
}
.box-details .box-desc {
  color: var(--sub);
  padding-bottom: 2rem;
}

/* custom owl carousel nav */
.owl-stage-outer {
  position: relative;
}

.owl-nav .owl-prev, .owl-nav .owl-next {
  position: absolute;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
.owl-nav .owl-prev ion-icon, .owl-nav .owl-next ion-icon {
  font-size: 3rem;
  color: var(--main_text);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.owl-nav .owl-prev ion-icon:hover, .owl-nav .owl-next ion-icon:hover {
  color: var(--primary);
}
.owl-nav .owl-prev {
  left: 0;
  top: 0;
}
.owl-nav .owl-next {
  right: 0;
  top: 0;
}

.home {
  padding-top: 16rem;
}
.home .container .title-text {
  color: var(--primary);
  margin-bottom: 5rem;
  font-weight: 500;
  font-size: 2.3rem;
}
@media screen and (max-width: 768px) {
  .home .container .title-text {
    font-size: 1.8rem;
  }
}
.home .container .main_text {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .home .container .main_text {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 576px) {
  .home .container .main_text {
    font-size: 3rem;
  }
}
.home .container .main_text-heading {
  color: var(--main_text);
  line-height: 1;
  margin-bottom: 1rem;
}
.home .container .main_text-job-name {
  color: var(--text_color);
  line-height: 1;
}
.home .container .description {
  max-width: 73rem;
  width: 100%;
  color: var(--sub);
  margin: 3rem 0;
}
.home .container .home-img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.about .container .row .about_content-info-item {
  display: flex;
  align-items: flex-start;
}
.about .container .row .about_content-info-item .icon {
  border: 1rem solid;
  border-color: #fe4c50 transparent transparent transparent;
  display: inline-block;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.about .container .row .about_content-info-item .info {
  color: var(--sub);
}
.about .container .row .about_content-info-item .info span {
  font-weight: 600;
  color: var(--main_text);
  padding-right: 1rem;
  display: inline-block;
}
.about .container .row .about_img {
  position: relative;
  height: 31rem;
  width: 36rem;
  cursor: pointer;
  margin-bottom: 10rem;
}
.about .container .row .about_img .box-image {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.about .container .row .about_img .box-image:hover {
  transform: translate(-2rem, -2rem);
  -webkit-transform: translate(-2rem, -2rem);
}
.about .container .row .about_img .border-image {
  position: absolute;
  width: calc(100% - 3rem);
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: 1rem;
  border: 0.3rem solid var(--primary);
  z-index: -1;
  box-shadow: 1rem 1rem 8rem rgba(254, 76, 80, 0.4);
}
@media screen and (max-width: 991px) {
  .about .container .row .about_img {
    order: 1;
    padding: 2rem;
    margin-bottom: 0;
  }
  .about .container .row .about_img .border-image {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    bottom: 2rem;
    right: 2rem;
  }
  .about .container .row .about_content {
    order: 2;
  }
}

.skills .container .row {
  padding-bottom: 8rem;
}
.skills .container .row .box_skill-item {
  cursor: pointer;
}
.skills .container .row .box_skill-item .box {
  border: 0.2rem solid var(--border);
  border-radius: 1rem;
  padding-top: 2rem;
  flex: 1;
}
.skills .container .row .box_skill-item .box-img {
  height: 20rem;
  text-align: center;
}
.skills .container .row .box_skill-item .box-img img {
  height: 100%;
  object-fit: contain;
}
.skills .container .row .box_skill-item .box-details {
  padding: 2rem 3rem;
  flex: 1;
}
.skills .container .row .box_skill-item .box:hover {
  box-shadow: 0 2.4rem 6rem rgba(94, 122, 148, 0.2);
  border-color: transparent;
}

.work {
  margin-top: -8rem;
}
.work .container .box_projects-item .box {
  background-color: var(--bg-comp);
  padding: 4rem 3rem;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  cursor: pointer;
}
.work .container .box_projects-item .box-img {
  width: 49rem;
  height: 24rem;
  overflow: hidden;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
}
@media screen and (max-width: 991px) {
  .work .container .box_projects-item .box-img {
    width: 100%;
  }
  .work .container .box_projects-item .box-img img {
    height: 100%;
  }
}
.work .container .box_projects-item .box_desc {
  flex: 1;
}
.work .container .box_projects-item .box_desc-title {
  color: var(--comp-title);
  font-weight: 600;
  font-size: 1.8rem;
}
.work .container .box_projects-item .box_desc-heading {
  font-weight: 600;
  font-size: 3rem;
  color: var(--main_text);
  padding: 1rem 0;
}
@media screen and (max-width: 768px) {
  .work .container .box_projects-item .box_desc-heading {
    font-size: 2.5rem;
  }
}
.work .container .box_projects-item .box_desc-details {
  color: var(--sub);
}
.work .container .box_projects-item .box_desc-link {
  gap: 0 2rem;
  padding-top: 2rem;
}
.work .container .box_projects-item .box_desc-link .link-icon {
  font-size: 3rem;
  color: var(--main_text);
}
.work .container .box_projects-item .box_desc-link .link-icon:hover {
  color: var(--sub);
}
.work .container .box_projects-item .box:hover {
  filter: drop-shadow(2px 4px 4px var(--bg-color));
}
.work .container .other_projects {
  padding-top: 5rem;
}
.work .container .other_projects-heading {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--main_text);
  margin: 3rem 0;
  padding: 0 2rem;
}
.work .container .other_projects-menu {
  gap: 0.5rem;
  background-color: var(--bg-comp);
  padding: 1rem;
  border-radius: 1rem;
  display: inline-flex;
  margin: 0 0 5rem;
  box-shadow: 0 2.4rem 6rem rgba(94, 122, 148, 0.2);
}
.work .container .other_projects-menu-tab .menu-link {
  color: var(--main_text);
  padding: 1.4rem 2rem;
  border-radius: 1rem;
  display: inline-block;
}
.work .container .other_projects-menu-tab .menu-link.active {
  background-color: var(--primary);
  color: #fff;
}
.work .container .other_projects-menu-tab .menu-link:hover {
  background-color: var(--primary);
  color: #fff;
}
.work .container .other_projects-content {
  padding: 2rem 0;
}
.work .container .other_projects-content .item {
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--bg-comp);
  cursor: pointer;
}
.work .container .other_projects-content .item .links-item {
  font-size: 3rem;
  color: var(--main_text);
}
.work .container .other_projects-content .item .links-item:hover {
  color: var(--sub);
}
.work .container .other_projects-content .item .build_by-item {
  color: var(--sub);
  font-weight: 600;
}
.work .container .other_projects-content .item:hover {
  box-shadow: 0 2.4rem 6rem rgba(94, 122, 148, 0.2);
}

.contact {
  padding: 10rem 0;
}
.contact .container .heading {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--main_text);
}
@media screen and (max-width: 768px) {
  .contact .container .heading {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 576px) {
  .contact .container .heading {
    font-size: 3rem;
  }
}
.contact .container .contact-title {
  color: var(--sub);
  padding: 2rem 0;
}
.contact .container .list-contact-item {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2rem 6rem rgba(215, 215, 215, 0.1);
}
.contact .container .list-contact-item a {
  padding: 2rem 30% 2rem;
  background-color: var(--bg-comp);
  color: var(--main_text);
  font-size: 2.4rem;
}
@media screen and (max-width: 768px) {
  .contact .container .list-contact-item a {
    font-size: 2rem;
    padding: 2rem 35% 2rem;
  }
}
@media screen and (max-width: 576px) {
  .contact .container .list-contact-item a {
    font-size: 2rem;
    padding: 2rem 30% 2rem;
  }
}
.contact .container .list-contact-item a ion-icon {
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .contact .container .list-contact-item a ion-icon {
    font-size: 2.4rem;
  }
}
.contact .container .list-contact-item a:hover {
  background-color: var(--primary);
  color: #fff;
}

.back-to-top {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  padding: 2rem;
  border-radius: 2rem;
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transform: translateY(2rem);
  -webkit-transform: translateY(2rem);
}
.back-to-top.active {
  opacity: 0.8;
  pointer-events: all;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
.back-to-top.active:hover {
  opacity: 1;
}
.back-to-top.active:hover .icon {
  transform: translateY(-0.5rem);
  -webkit-transform: translateY(-0.5rem);
}

.footer {
  color: var(--sub);
}

/*# sourceMappingURL=main.css.map */
